body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial;
}
#l_bg{
    background: url("../img/l_bg.png") repeat-y left;
}
#r_bg{
    background: url("../img/r_bg.png") repeat-y right;
}
#main_table
{
    width: 100%;
    border: none;

}
#main_table .td1{
    width: 110px;
}
#main_table td{
    padding: 10px;
    vertical-align: text-top;
}

#main_table .td3{
    width: 70px!important;
}
ul#left_menu {
padding: 0px;

}
ul#left_menu  li{
    list-style: none;
    background: url("../img/b.png") no-repeat;
    width: 100px;
    height: 32px;
}
ul#left_menu  li a{
    color: #ffffff;
    text-decoration: none;
    font-family: Arial;
    text-shadow: 0px 3px 7px black, 0 0 1em black;
    position: relative;
    top:8px;
    left: 10px;

}
ul#left_menu  li a:hover{
    text-decoration: underline;
}
#file_soft{
    padding:2px;
    font-weight:bold;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    background:#f2f2f2;
    color:#3366cc;
    border:1px solid #ccc;
    width:79px;
    cursor:pointer !important;
    -moz-border-radius:5px; -webkit-border-radius:5px;
}

#error_form{
    color: red;
    margin-bottom: 5px;
}
tr.header
{
    background-color: rgb(179, 179, 179);
}